.work-card{
    width: 100%;
    height: 400px;
    background-color: var(--semi-black);
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .over-image{
        width: 100%;
        height: 100%;
        background-color: rgba(43 47 53 / 80%);
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 48px;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
}

.work-card:hover .over-image{
    opacity: 1;
}